numpy==2.4.4
pandas==3.0.2
scipy==1.17.1
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
statsmodels==0.14.6
pillow==12.2.0
opencv-python-headless==4.13.0.92
scikit-image==0.26.0
albumentations==2.0.8
ImageHash==4.3.2
imbalanced-learn==0.14.1
missingno==0.5.2
arch==8.0.0
holidays==0.94
networkx==3.6.1
tqdm==4.67.3
datasets==4.8.4
huggingface_hub==1.11.0
